#bg {
    position: relative;
    z-index: 1;
}

#cat > img {
    width: 150px;
    height: auto;
    opacity: 0.7;
    filter: alpha(opacity=60);
}

#cat > img:hover {
    opacity: 1;
    filter: alpha(opacity=100);
}

#cat {
    position: absolute;
    z-index: 2;
    /* -webkit-transition: all 2s ease-in-out;
    -moz-transition: all 2s ease-in-out;
    -ms-transition: all 2s ease-in-out;
    -o-transition: all 2s ease-in-out;
    transition: all 2s ease-in-out; */
}

#cat-fact {
    text-align: center;
    color: rgb(195, 47, 47);
    margin: 0rem 2rem;
}
