#bg {
    position: relative;
    z-index: 1;
}

#cat > img {
    width: 200px;
    height: auto;


}

#cat {
    position: absolute;
    z-index: 2;
    /* -webkit-transition: all 2s ease-in-out;
    -moz-transition: all 2s ease-in-out;
    -ms-transition: all 2s ease-in-out;
    -o-transition: all 2s ease-in-out;
    transition: all 2s ease-in-out; */
}

